doctype html
html
  head
    title Quircky Website
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style.
      html, body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
      }
    script(type="module" src="/js/dashboard.js")
    block extrahead
  body.w3-light-grey
    // Top container
    .w3-bar.w3-top.w3-black.w3-large(style="z-index:4")
      button.w3-bar-item.w3-button.w3-hide-large.w3-hover-none.w3-hover-text-light-grey(onclick="w3_open()")
        i.fa.fa-bars
        |   Menu
      button.w3-bar-item.w3-right.w3-button#log-out-btn Log out

    // Sidebar/menu
    nav.w3-sidebar.w3-collapse.w3-white.w3-animate-left(style="z-index:3;width:300px;" id="mySidebar")
      br
      .w3-container.w3-row
        .w3-col.s4
          img(src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px")
        .w3-col.s8.w3-bar
          span Welcome, 
          strong#user-name Mike
          br
          a.w3-bar-item.w3-button(href="#")
            i.fa.fa-envelope
          a.w3-bar-item.w3-button(href="#")
            i.fa.fa-user
          a.w3-bar-item.w3-button(href="#")
            i.fa.fa-cog
      hr
      .w3-container
      .w3-bar-block
        a.w3-bar-item.w3-button.w3-padding-16.w3-hide-large.w3-dark-grey.w3-hover-black(href="#" onclick="w3_close()" title="close menu")
          i.fa.fa-remove.fa-fw
          |   Close Menu
        a.w3-bar-item.w3-button.w3-padding(href="/admin.html")
          i.fa.fa-users.fa-fw
          |   Dashboard
        a.w3-bar-item.w3-button.w3-padding.w3-blue(href="/websites.html")
          i.fa.fa-users.fa-fw
          |   Websites

    // Overlay effect when opening sidebar on small screens
    .w3-overlay.w3-hide-large.w3-animate-opacity(onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay")

    // !PAGE CONTENT!
    block content

    // Footer
    footer.w3-container.w3-padding-16.w3-light-grey
      h4 FOOTER
      p
        | Powered by 
        a(href="https://www.w3schools.com/w3css/default.asp" target="_blank") w3.css

    // End page content
    script.
      // Get the Sidebar
      var mySidebar = document.getElementById("mySidebar");

      // Get the DIV with overlay effect
      var overlayBg = document.getElementById("myOverlay");

      // Toggle between showing and hiding the sidebar, and add overlay effect
      function w3_open() {
        if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
          overlayBg.style.display = "none";
        } else {
          mySidebar.style.display = 'block';
          overlayBg.style.display = "block";
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
      }
