@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
}

body{
    background-color:#F7F9FC;   
}

h1{
    font-size: 60px;
    font-weight:bold;
    color:#2D3748;
    /*
    text-shadow:2px 2px 2px #EB741D;
    */
}

h2{
    font-weight:400;
    font-size: 24px;
    color:#EB741D;
}

.button{
    cursor: pointer;
    background-color: #EB741D;
    border:1px solid #EB741D;
    color:#F7F9FC;
    width:auto;
    height:40px;
    padding:0px 16px 0px 16px;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
}

.button:hover{
    color:#EB741D;
    background-color:#F7F9FC;
    /*
    filter:drop-shadow(2px 2px 2px #EB7F1D);
    */
    transition-duration: 200ms;
}

nav{
    height:80px;
    display:flex;
    column-gap: 15px;
    align-items:center;
    justify-content:end ;
    margin-right: 32px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    row-gap:16px;
    margin-bottom:24px;
}

hr{
    color:#ffffff;
    width:30%;
    margin: 0 auto;
}

.sort{
    margin:16px;
    display:flex;
    row-gap:4px;
    flex-direction: column;
    align-items: center;
}