@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
}

body{
    background-color:#F7F9FC;   
}

h1{
    font-size: 60px;
    font-weight:bold;
    color:#2D3748;
}

h2{
    font-weight:800;
    font-size: 24px;
    color:#2D3748;
}

.button{
    cursor: pointer;
    background-color: #EB741D;
    border:1px solid #EB741D;
    color:#F7F9FC;
    height:40px;
    line-height: 40px;
    padding:0px 16px 0px 16px;
    border-radius: 8px;
    text-align: center;
}

.button:hover{
    color:#EB741D;
    background-color:rgb(0,0,0, 0);
    transition-duration: 200ms;
}

nav{
    background-color: #ffffff;
    height:80px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 16px 0px 16px;
}

.nav-left__logo{
    font-weight: bold;
    font-size: 1.5em;
    color:#ffffff;
    background-color: #EB741D;
    border-radius: 8px;
    padding:8px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    row-gap:16px;
    margin-bottom:24px;
}

.header__sub-text{
    font-size: 24px;
    color:#EB741D
}

hr{
    color:#ffffff;
    width:30%;
    margin: 0 auto;
}

.sort{
    margin:16px;
    display:flex;
    row-gap:4px;
    flex-direction: column;
    align-items: center;
}

#websites{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 32px;
    align-items: center;
    margin-bottom: 64px;
}

.website {
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    width:800px;
    height:auto;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.website__number{
    display:flex;
    border-radius: 16px 0px 0px 16px;
    background-color: #EB741D;
    min-width:48px;
    align-items: center;
    justify-content: center;
    color:#ffffff
}

.website__info{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 16px;
    row-gap: 8px;
    padding: 16px 0px 16px 0px;
}

.website__info__developer, .website__info__upload-date{
    color: #B3B3B3;
    font-size: 14px;
}

.website__info__name{
    font-weight: bolder;
}

.website__info__link{
    width:fit-content;
}

