@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');*{
    margin: 0;
    text-decoration: none;
    font-family: Jua, Arial, sans-serif;
}

body{
    background-color:#F7F9FC;   
}

h1{
    font-weight: bold;
    font-size: 4em;
    font-weight:800;
    color:#2D3748;
}

h2{
    font-weight:800;
    font-size: 1.5em;
    color:#2D3748;
}

h3, h4{
    font-weight: 200;
}

.button{
    cursor: pointer;
    background-color: #EB741D;
    border:1px solid #EB741D;
    color:#F7F9FC;
    height:40px;
    overflow: hidden;
    min-width: 60px;
    line-height: 40px;
    padding:0px 16px 0px 16px;
    border-radius: 8px;
    text-align: center;
}

.button:hover{
    color:#EB741D;
    background-color:rgb(0,0,0, 0);
    transition-duration: 200ms;
}

.random{
    margin-top:16px;
}

nav{
    background-color: #ffffff;
    height:80px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 16px 0px 16px;
}

.nav__left__logo{
    color: #EB741D;
    font-size: 2em;
    font-weight:900;
    padding:12px;
    border-radius: 8px;
}

.nav__right{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom:24px;
}

.header__sub-text{
    font-size: 1.5em;
    color:#EB741D;
    text-align: center;
}

hr{
    color:#ffffff;
    width:30%;
    margin: 0 auto;
}

.sort{
    margin:16px;
    display:flex;
    row-gap:4px;
    flex-direction: column;
    align-items: center;
}

#websites{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 32px;
    align-items: center;
    margin: 16px;
}

.websites__loading-message{
    color: #B3B3B3;
    padding:10% 0px 10% 0px;
}

.website {
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    width:800px;
    height:auto;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}

.website__number{
    display:flex;
    border-radius: 16px 0px 0px 16px;
    background-color: #EB741D;
    min-width:48px;
    align-items: center;
    justify-content: center;
    color:#ffffff
}

.website__new-badge{
    position:relative;
    text-align: center;
    top:16px;
    right:32px;
    background-color: #EB741D;
    color:#ffffff;
    padding:4px;
    width:fit-content;
    height:12px;
    line-height: 12px;
    border-radius: 4px;
}
.website__info{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 16px;
    row-gap: 8px;
    padding: 16px 0px 16px 0px;
    width: 100%;
}

.website__info__developer, .website__info__upload-date{
    color: #999999;
    font-size: 1em;
}

.website__info__name{
    font-weight: bolder;
}

.website__info__link{
    width:fit-content;
}

.learn-more{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn-more__title{
    font-size:2em;
    font-weight:400;
    padding-top:32px;
}

.learn-more__text{
    width:50%;
    font-size: 1.5em;
    padding:32px;
}

.copyright-footer{
    display: flex;
    color: #B3B3B3;
    font-size: 0.8em;
    justify-content: center;    
    padding:16px;
    text-align: center;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #EB741D;
    margin:64px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Tablet Optimization*/
  @media only screen and (max-width: 1000px) {
    .website{
        width: 80vw;
    }

    .websites{
        padding:0px;
        flex-flow: row wrap;
    }

    .website__info__description{
        text-overflow: ellipsis;
        overflow: hidden;
        height:2.4em;
    }
    
    .nav{
        justify-content: center;
    }

    .nav__right__text{
        display: none;
    }

  }

    /* Mobile Optimization*/
    @media only screen and (max-width: 500px) {

        *{
            font-size: 12px;
        }

        h1{
            font-size: 32px;
        }

        h2{
            font-size: 18px;
        }

        h3, p{
            font-size: 12px;
        }
    }