/****************************************************** Universal Rules ******************************************************/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
    margin: 0;
    text-decoration: none;
    font-family: Jua, Arial, sans-serif;
}

:root {
    --randomColor: #2d3748;
}

body {
    background-color: #e8ebee;
}

/****************************************************** Heading Tags *********************************************************/
h1 {
    font-weight: bold;
    font-size: 4em;
    font-weight: 800;
    color: #2d3748;
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
    color: #2d3748;
}

h3 {
    font-weight: 200;
}

/* Button */
.button {
    cursor: pointer;
    background-color: var(--randomColor);
    border: 1px solid var(--randomColor);
    color: #f7f9fc;
    height: 40px;
    overflow: hidden;
    min-width: 60px;
    line-height: 40px;
    padding: 0px 16px 0px 16px;
    border-radius: 8px;
    text-align: center;
}

.button:hover {
    color: var(--randomColor);
    background-color: rgb(0, 0, 0, 0);
    transition-duration: 200ms;
}

/****************************************************** 'Random Website' button **********************************************/
.random {
    margin-top: 16px;
}

/****************************************************** Navigation Bar ******************************************************/
nav {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 16px 0px 16px;
}

.nav__left__logo {
    color: var(--randomColor);
    font-size: 2em;
    font-weight: 900;
    padding: 12px;
    border-radius: 8px;
}

.nav__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}

/****************************************************** Learn More **********************************************************/
.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn-more__title {
    font-size: 2em;
    font-weight: 400;
    padding-top: 32px;
}

.learn-more__text {
    width: 80vw;
    max-width: 800px;
    font-size: 1.5em;
    padding: 32px;
}

/****************************************************** Header *************************************************************/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
}

.header__sub-text {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--randomColor);
    text-align: center;
}

hr {
    color: #ffffff;
    width: 800px;
    margin: 0 auto;
}

/****************************************************** Copyright Footer ****************************************************/
.copyright-footer {
    display: flex;
    color: #b3b3b3;
    font-size: 0.8em;
    justify-content: center;
    padding: 16px;
    text-align: center;
}

/****************************************************** Sorting *************************************************************/
.sort {
    margin: 16px;
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    align-items: center;
}

/****************************************************** Websites Elements ***************************************************/
#websites {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 32px;
    align-items: center;
    margin: 16px;
}

.website {
    background-color: #ffffff;
    display: flex;
    width: 800px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.website__number {
    display: flex;
    border-radius: 16px 0px 0px 16px;
    background-color: var(--randomColor);
    min-width: 48px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.website__info__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
}

.website__new-badge {
    position: relative;
    text-align: center;
    top: 16px;
    right: 32px;
    background-color: #ff675d;
    color: #ffffff;
    padding: 4px;
    width: fit-content;
    height: 12px;
    line-height: 12px;
    border-radius: 4px;
}
.website__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 16px;
    row-gap: 8px;
    padding: 16px 32px 16px 8px;
    width: 100%;
}

.website__info__developer,
.website__info__upload-date {
    color: #999999;
    font-size: 1em;
}

.website__info__name {
    font-weight: bolder;
}

.website__info__link {
    width: fit-content;
}

/****************************************************** 'Loading' Spinner ***************************************************/

.loading {
    width: 32px;
    height: 32px;
    margin: 32px;
    border: 8px solid #FFFFFF;
    border-top: 8px solid var(--randomColor);
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/****************************************************** Attentive ***********************************************************/
.attentive {
    color: var(--randomColor);
    cursor: pointer;
}

.attentive-webp {
    display: flex;
    width: 80vw;
    max-width: 500px;
    height: 80vw;
    max-height: 500px;
    padding: 32px;
    opacity: 1;
    transition: opacity 5s ease-in-out;}

.attentive-hidden{
    opacity:0;
}


/****************************************************** Tablet Optimization **************************************************/
@media only screen and (max-width: 1000px) {
    #websites {
        row-gap: 16px;
    }
    .website,
    hr {
        width: 80vw;
    }

    .website__info {
        margin-left: 8px;
    }

    nav {
        justify-content: center;
    }

    .nav__right__text {
        display: none;
    }
}

/****************************************************** Mobile Optimization *************************************************/
@media only screen and (max-width: 500px) {
    * {
        font-size: 12px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
    }

    h3,
    p {
        font-size: 12px;
    }

    .website,
    hr {
        width: 90vw;
    }
    .website__info {
        margin-left: 4px;
    }

    .learn-more__title {
        font-size: 2em;
        padding-top: 16px;
    }

    .learn-more__text {
        font-size: 1.5em;
        padding: 16px;
    }
}
